<div class="container">
    <div class="head">
        <img src="assets/images/helpinho-logo.png">
    </div>
    <div class="row">
        <div class="generic-container col-lg-6 col">
            <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
        </div>
      <div class="image-container col-lg-6">
        <img src="assets/images/amelie.jpeg" alt="Amélie Laurent">
        <div class="text-overlay">
          <h2>Helpinho pode mudar a vida de milhões de pessoas todos os dias</h2>
          <p>Amélie Laurent<br>Diretora de recursos, ONG<br>Web Development Agency</p>
          <div class="navigation-buttons">
            <button mat-icon-button class="round-button">
              <mat-icon>chevron_left</mat-icon>
            </button>
            <button mat-icon-button class="round-button">
              <mat-icon>chevron_right</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
